.edgebutton {
  width: max-content;
  max-width: 150px;
  height: auto;
  background: #304974;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 0.65rem;
  line-height: 1;
  color: #fff;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject div {
  background: transparent;
  width: max-content;
  max-width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}